@import "crayon.scss";

@font-face {
	font-family: 'Agent';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Agent.woff') format('woff');
}

@font-face {
	font-family: 'Mononoki';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/mononoki-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Mononoki';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/mononoki-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Mononoki';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/mononoki-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Mononoki';
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/mononoki-BoldItalic.woff') format('woff');
}

// Fonts

$fontDefault: 'Mononoki', serif;
$fontHeading: 'Agent', sans-serif;


// Colors



$gray: #999;
$lightgray: #DDD;

$white: #FFF;
$black: #000;


// Reusable Classes

%clearfix {
	margin: 0;
	padding: 0;
	content: '';
	display: table;
	clear: both;
}


// Mixins

@mixin font($name, $weight, $style, $size) {
	font-family: $name;
	font-weight: $weight;
	font-style: $style;
	font-size: $size;
}