// Metadata

// Fonts

@font-face {
	font-family: 'Brownhill Script';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Brownhill-Script.woff') format('woff');
}

$fontDefault: 'Work Sans', sans-serif;
$fontHeading: 'Brownhill Script', cursive;


// Colors

$transwhite: rgba(255,255,255,0.5);

$gray: #999;
$bggray: #DDD;

$white: #FFF;
$black: #000;


// Reusable Classes

%clearfix {
	margin: 0;
	padding: 0;
	content: '';
	display: table;
	clear: both;
}


// Mixins

@mixin font($name, $weight, $style, $size) {
	font-family: $name;
	font-weight: $weight;
	font-style: $style;
	font-size: $size;
}