// Metadata

// Fonts

@font-face {
	font-family: 'Agent';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Agent.woff') format('woff');
}

$fontDefault: 'Work Sans', serif;
$fontHeading: 'Agent', cursive;


// Colors

$gray: #666;
$lightgray: #DDD;

$white: #FFF;
$black: #000;


// Reusable Classes

%clearfix {
	margin: 0;
	padding: 0;
	content: '';
	display: table;
	clear: both;
}


// Mixins

@mixin font($name, $weight, $style, $size) {
	font-family: $name;
	font-weight: $weight;
	font-style: $style;
	font-size: $size;
}