@import "_config.scss";


/* reset */

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	@include font($fontDefault, normal, normal, 1rem);
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, calc( (100% / 3) - 0.5px )); /* 0.5 since there's only 1px column gap that appears */
	grid-template-rows: repeat(2, calc(50vh - 0.5px));
	grid-template-areas:
		"header header websites"
		"social bio bio";
	grid-column-gap: 1px;
	grid-row-gap: 1px;
	background-color: $lightgray;

	@media only screen and (max-width: 1023px) {
		grid-template-columns: repeat(2, calc(50% - 0.5px));
		grid-template-areas:
			"header websites"
			"social bio";
	}

	@media only screen and (max-width: 480px) {
		display: block;

		#header {
			margin-bottom: 1px;
		}

		.item:not(last-of-type) {
			margin-bottom: 1px;
		}
	}
}

a {
	color: $asparagus;
	transition: all 300ms linear;

	&:hover, &:focus {
		color: $rosequartz;
	}
}

#header {
	margin: 0;
	padding: 50px;
	grid-area: header;
	background-color: $white;

	@media only screen and (max-width: 480px) {
		padding: 50px 5%;
	}
}

#site-name {
	margin: 0;
	padding: 0;
	@include font($fontHeading, normal, normal, 6rem);

	@media only screen and (max-width: 768px) {
		font-size: 4rem;
	}

	@media only screen and (max-width: 480px) {
		text-align: center;
	}

	@media only screen and (max-width: 479px) {
		font-size: 3rem;
	}

}

#site-description {
	margin: 1em 0 0;
	padding: 0;
	@include font($fontDefault, normal, normal, 1.5rem);
}

#bio {
	grid-area: bio;

	p {
		width: 75%;

		@media only screen and (max-width: 480px) {
			width: 100%;
		}
	}

	a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: $rosequartz;

		
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 0 0.25em;
			padding: 0;
			height: 0.5em;
			background-color: rgba($asparagus, 0.5);
			transition: all 300ms linear;
		}

		&:hover, &:focus {
			color: $asparagus;

			&:before {
				background-color: rgba($rosequartz, 0.5);
			}
		}
		
	
	}
}

#websites {
	grid-area: websites;
}

#social {
	grid-area: social;
	text-align: right;
}

.item {
	position: relative;
	margin: 0;
	padding: 25px;
	background-color: $white;
	line-height: 2;

	nav > ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav a {
		display: inline;
		padding: 5px;
		background-color: $asparagus;
		text-decoration: none;
		color: $white;
		transition: all 300ms linear;

		&:hover, &:focus {
			background-color: $rosequartz;
		}
	}

	@media only screen and (max-width: 480px) {
		padding: 25px 5%;
	}
}

.heading {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	margin: 25px;
	padding: 0;
	text-align: center;
	line-height: 1;

	#social & {
		left: 0;
		right: auto;
	}

	@media only screen and (max-width: 480px) {
		position: relative;
		float: right;
		margin: 0;

		#social & {
			float: left;
		}
	}
}

.mobile {
	display: none;

	@media only screen and (max-width: 480px) {
		display: block;
	}
}