@import "_config.scss";
@import "_preloader.scss";

/* animations */

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* reset */

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: $fontDefault;
	color: $gray;
}

body {
	animation: fadeIn 1s ease-in-out;
}

h2 {
	margin-bottom: 2em;
	@include font($fontDefault, bold, normal, 1em);
	text-transform: uppercase;

	span {
		border-bottom: 5px solid $lightgray;
	}
}

a {
	text-decoration: none;
	color: $black;
}


/* header */

#header {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-areas:
		"photo1 site-name photo2";
	border-bottom: 1px solid $lightgray;

	@media only screen and (max-width: 480px) {
		display: block;
		border-bottom: none;
	}
}

#site-name {
	margin: 0;
	padding: 50px 5%;
	grid-area: site-name;
	align-self: center;
	@include font($fontHeading, normal, normal, 5rem);
	text-align: center;
	color: $black;

	@media only screen and (max-width: 768px) {
		font-size: 4rem;
	}

	@media only screen and (max-width: 480px) {
		font-size: 3rem;
	}
}

.photo {
	margin: 0;
	padding: 0;
	height: 300px;
	background-size: cover;

	@media only screen and (max-width: 480px) {
		display: none;
	}

	&.mobile {
		width: 100%;
	}
}

.photo1 {
	grid-area: photo1; //Photo by Scott Webb on Unsplash
	background: url('https://source.unsplash.com/6Rs76hNbIWE/500x375') center no-repeat;
}

.photo2 {
	grid-area: photo2; //Photo by Sarah Dorweiler
	background: url('https://source.unsplash.com/m2J105CzEAU/500x375') center no-repeat;
}


/* content */

#content {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-areas:
		"bio websites";

	@media only screen and (max-width: 480px) {
		display: block;
	}
}

#bio {
	margin: 0;
	padding: 50px 5%;
	grid-area: bio;
	@include font($fontDefault, normal, normal, 2rem);
	line-height: 1.5;

	a {
		border-bottom: 2px solid darken($lightgray, 10%);
		transition: all 300ms linear;

		&:hover, &:focus {
			border-color: $black;
		}
	}

	@media only screen and (max-width: 480px) {
		border-bottom: 1px solid $lightgray;
	}
}

#websites {
	margin: 0;
	padding: 50px 5%;
	grid-area: websites;
	font-size: 1.25rem;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			margin: 0 0 1em;
			padding: 0 0 0.5em;
			display: block;

			&:before {
				content: '';
				display: block;
				margin: 0 auto;
				padding: 0;
				position: absolute;
				bottom: 0;
				background-color: $lightgray;
				width: 10px;
				height: 1px;
				transition: all 300ms ease-in-out;
			}

			&:hover, &:focus {

				&:before {
					width: 50%;
					background-color: darken($lightgray, 10%);
				}
			}
		}
	}
}


/* social */

#social {
	margin: 0;
	padding: 50px 5%;
	border-top: 1px solid $lightgray;
	line-height: 2;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			margin: 0 25px 25px;
			padding: 0;
			display: inline-block;
		}
	}

	a {
		position: relative;
		display: block;
		color: $black;

		&:before, &:after {
			content: '';
			display: block;
			margin: 0 auto;
			padding: 0;
			width: 10px;
			height: 1px;
			background-color: $lightgray;
			transition: all 300ms ease-in-out;

			@media only screen and (max-width: 480px) {
				display: none;
			}
		}

		&:hover, &:focus {
			&:before, &:after {
				width: 100%;
				background-color: darken($lightgray, 10%);
			}
		}
	}

	@media only screen and (max-width: 480px) {
		font-size: 1.25rem;

		ul {
			text-align: left;

			li {
				margin: 0;
				display: block;
			}
		}
	}
}


/* more */

.mobile {
	display: none;

	@media only screen and (max-width: 480px) {
		display: block;
	}
}

.no-mobile {
	display: block;

	@media only screen and (max-width: 480px) {
		display: none;
	}
}

.credits {
	font-size: 0.8rem;
}


/* preloader */

#preloader {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.is-loading {
	overflow: hidden;
}